.merchants-table{width: 100%;}
.header{ margin: 0%;}
.wrapper{
    margin: 24px auto;
    width: 1055px;
    display: block;
    }
.mat-card-wrapper{
  margin: 24px auto;
    width: 1024px;
    display: block;
  border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color:#673ab7;
}
.example-flex-container{
  background-color: #673ab7;
}
mat-card-content{
  color: #673ab7; 
  margin-left: 30px; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.accordion-item{margin-left: 30px;color: grey;}
.icon{margin-right: 10px;}
.element{color: rgb(102, 101, 101);}

.example-button-row{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;}
.example-spacer {
    flex: 1 1 auto;
  }
.toolbar-stores{background-color: white;color: #673ab7;}