.merchants-table{width: 100%;}
.header{ margin: 0%;}
.wrapper{
    margin: 24px auto;
    width: 1024px;
    display: block;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color:#673ab7;
}
.element{color:rgb(102, 101, 101);}
.example-spacer {
    flex: 1 1 auto;
  }
.toolbar-merchants{background-color: white;color: #673ab7;}