p{color: purple;}
.title-item{ text-align: center;color:#673ab7;}
.item{margin-left: 20px;padding-top: 10px;color: grey;}
.icon{margin-right: 30px;}
.example-button-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;}
.title{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}