<mat-toolbar color="primary" class="header" style="margin-bottom: 40px;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Update Merchant </span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width-row" appearance="outline" style="margin-left: 12px;">
        <mat-label>Merchant Code</mat-label>
        <input matInput [formControl]="merchantCodeFormControl">
      </mat-form-field>


      <table class="example-full-width" cellspacing="10">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput [formControl]="nameFormControl">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Full Name</mat-label>
              <input matInput [formControl]="fullNameFormControl">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="10">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput [formControl]="emailFormControl" type="email">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput [formControl]="phoneNumberFormControl" #input1 maxlength="9">
              <mat-hint align="end">{{input1.value?.length || 0}}/9</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>


      <mat-form-field class="example-full-width-row" appearance="outline" style="margin-left: 12px;">
        <mat-label>Address</mat-label>
        <input matInput [formControl]="addressFormControl">
      </mat-form-field>


      <table class="example-full-width" cellspacing="10">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Website</mat-label>
              <input matInput [formControl]="websiteFormControl">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Account Number</mat-label>
              <input matInput [formControl]="accountNumFormControl" #input2 maxlength="10">
              <mat-hint align="end">{{input2.value?.length || 0}}/10</mat-hint>
            </mat-form-field>
           
          </td>
        </tr>
      </table>
    </form>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="onBack()">Back</button>
    <button mat-flat-button color="primary" (click)="updateMerchant()">Update Merchant</button>
  </mat-card-actions>
</mat-card>