<h1 mat-dialog-title>Create Store</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="storeForm">

    <table class="example-full-width" cellspacing="5">
      <tr>
        <mat-form-field class="example-full-width-row" appearance="legacy">
          <mat-label>Store Code</mat-label>
          <input formControlName="storeCode" matInput>
        </mat-form-field>
        <small *ngIf="storeCode.invalid && storeCode.touched" class="text-danger">Store Code is Required</small>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="5">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Merchant Code</mat-label>
            <input formControlName="merchantCode" matInput >
          </mat-form-field>
          <small *ngIf="merchantCode.invalid && merchantCode.touched" class="text-danger">Merchant Code is
            Required</small>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Store Name</mat-label>
            <input formControlName="storeName" matInput>
          </mat-form-field>
          <small *ngIf="storeName.invalid && storeName.touched" class="text-danger">Store Name is Required</small>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="5">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="legacy"
            hintLabel="Please follow the example for correct input!">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Ex.email@email.com">
          </mat-form-field>
          <small *ngIf="email.invalid && email.touched" class="text-danger" style="margin-bottom: 10px;">Email is
            Required</small>
        </td>

        <td>
          <mat-form-field class="example-full-width" appearance="legacy" hintLabel="Max 9 characters">
            <mat-label>Phone Number</mat-label>
            <input formControlName="phoneNumber" matInput #input maxlength="9">
            <mat-hint align="end">{{input.value?.length || 0}}/9</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="5">
      <tr>
        <mat-form-field class="example-full-width-row" appearance="legacy" hintLabel="Min length is 5 characters">
          <mat-label>Address</mat-label>
          <input formControlName="address" matInput>
        </mat-form-field>
      </tr>
    </table>
    <mat-card-actions align="end">
      <button mat-button color="primary" mat-dialog-close>Close</button>
      <button mat-flat-button color="primary" [disabled]="storeForm.invalid" (click)="createStore()">Create</button>
    </mat-card-actions>
  </form>
</div>